[Unit]
Description=Agenda diária do backup do SGC

[Timer]
OnCalendar=*-*-* 03:17:00 America/Sao_Paulo
RandomizedDelaySec=20m
Persistent=true
Unit=sgc-backup.service

[Install]
WantedBy=timers.target

